In [1]:
import pandas as pd
import torch
import numpy as np

In [158]:
data = pd.read_csv('data/train_cleaned.csv')
data.drop(columns=['Unnamed: 0'], inplace=True)

In [110]:
data.shape[0]

5132160

In [111]:
data = data[data['date_id']<=5]

In [112]:
features = ['seconds_in_bucket', 'imbalance_size', 'imbalance_buy_sell_flag', 
                'reference_price', 'matched_size', 'far_price', 'near_price', 
                'bid_price', 'bid_size', 'ask_price', 'ask_size', 'wap','stock_id']

df的大小是(windows，stock，features)

In [160]:
data['stock_id'].unique().shape

(196,)

In [114]:
data[features].values.shape

(61820, 13)

In [115]:
import numpy as np
import torch

def create_lstm_input(data, window_size, index, features):
    
    data_temp = data[(data['time_id']>=index) & (data['time_id']<=index+window_size-1)]
    all_stocks_data = [data_temp[data_temp['time_id'] == i][features].values for i in range(index, index+window_size)]
    return torch.tensor(np.array(all_stocks_data))

def create_target(data, window_size, index):
    data_temp = data[(data['time_id']>=index) & (data['time_id']<=index+window_size-1)]
    all_stocks_data = [data_temp[data_temp['time_id'] == i][['target']].values for i in range(index, index+window_size)]
    return torch.tensor(np.array(all_stocks_data))[-1, :, :]

In [ ]:
# def get_batch_data(data, window_size, features):
#     batch_data = []
#     target_data = []
#     for index in range(data.shape[0]/100):
#         if index+window_size-1 > data['time_id'].max():
#             print(f'batch size {index}')
#             break
#         batch_data.append(create_lstm_input(data, window_size, index, features))
#         target_data.append(create_target(data, window_size, index))
#     batch_data = torch.tensor(np.array(batch_data)).permute(0, 2, 1, 3)    
#     target_data = torch.tensor(np.array(target_data))
#     return batch_data, target_data
batch_data = []
target_data = []
window_size = 55
for index in range(data['time_id'].max()-window_size+2):
    # if index+window_size-1 > data['time_id'].max():
    #     print(f'batch size {index}')
    #     break
    print(index)
    batch_data.append(create_lstm_input(data, window_size, index, features))
    target_data.append(create_target(data, window_size, index))

batch_data = torch.tensor(np.array(batch_data)) 
target_data = torch.tensor(np.array(target_data))
# input into model
# train 
# save model and optimizer

In [108]:
batch_data.shape

torch.Size([111, 55, 187, 13])

In [118]:
data['time_id'].max()-window_size+2

276

In [156]:
data[data['time_id']==219]['stock_id'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100, 103, 104, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 132, 133, 134, 136, 137,
       138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 151,
       152, 154, 155, 157, 159, 160, 161, 162, 163, 164, 165, 166, 167,
       168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193,
       194, 195, 196, 197, 198], dtype=int64)

In [155]:
data[data['time_id']==220]['stock_id'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  78,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98,  99, 100, 103, 104, 105, 106, 107, 108,
       109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121,
       122, 123, 124, 125, 126, 127, 128, 129, 130, 132, 133, 134, 136,
       137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149,
       151, 152, 154, 155, 157, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198], dtype=int64)

In [138]:
data['time_id'].max()

329

In [157]:
data[data['time_id']==219]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
40953,0,3,540,4785325.00,-1,0.998280,22303737.18,0.990578,0.995243,0.998280,52917.25,0.998388,160333.68,0.998307,-8.149743,219,3_540_0
40954,1,3,540,0.00,0,1.002769,3176068.93,1.002769,1.002769,1.002314,29254.18,1.002883,93807.56,1.002449,13.220310,219,3_540_1
40955,2,3,540,0.00,0,1.001531,2463111.96,1.001531,1.001531,1.000858,62809.50,1.001583,17599.40,1.001424,3.789663,219,3_540_2
40956,3,3,540,3883312.87,1,1.000434,74905949.11,1.001740,1.001740,1.000391,90767.05,1.000434,919.20,1.000434,-1.580119,219,3_540_3
40957,4,3,540,0.00,0,0.999825,30606040.06,0.999825,0.999825,0.999825,8643.70,0.999966,94243.80,0.999837,-1.860261,219,3_540_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41135,194,3,540,499978.56,-1,1.002884,10446613.35,1.002051,1.002051,1.002884,105311.34,1.003162,87494.75,1.003036,-0.500083,219,3_540_194
41136,195,3,540,1470152.67,1,1.000429,27617343.11,1.000875,1.000763,1.000317,196333.50,1.000429,30484.40,1.000414,-3.420114,219,3_540_195
41137,196,3,540,3058056.58,-1,1.001250,10105108.52,1.000246,1.000413,1.001250,34026.20,1.001752,61146.26,1.001430,-15.950203,219,3_540_196
41138,197,3,540,0.00,0,1.000623,18074458.04,1.000623,1.000623,1.000418,100039.01,1.000623,39408.50,1.000565,-1.189709,219,3_540_197
41139,198,3,540,0.00,0,1.000584,55911674.41,1.000584,1.000584,1.000412,661987.17,1.000584,230443.00,1.000540,-5.440116,219,3_540_198